TORZNAB_PORT=9699
TORZNAB_BASE_URL=http://192.168.1.100:9699
TORZNAB_CONFIGURATION=brazuca
TORZNAB_SOURCES=stremio,betor
TORZNAB_STREMIO_URL=https://torrentio.strem.fun/brazuca
TORZNAB_BETOR_URL=https://catalogo.betor.top
TORZNAB_API_KEY=
DATABASE_URI=
